.header {
}

.header__title {
    margin-top: 20px;  /* 96px in Figma but it is too large and immediately force scrollbar in Main to be visible */
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}

.header__navigation {
    margin-top: 40px;
}
