.header {
}

.header__title {
    margin-top: 96px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    padding-left: 160px;
}

.header__navigation {
    margin-top: 40px;
    padding-left: var(--root-items-left-spacing);
}