.page-roots {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-roots__header {
    padding-top: 48px;  /* 96px in Figma but it is too large and immediately force scrollbar in Main to be visible */
    padding-bottom: 38px;   /* 77px in Figma but it is too large and immediately force scrollbar in Main to be visible */
}

.page-roots__header_white-background {
    background: var(--white);
}

.page-roots__main {
    flex-grow: 1;

    padding: 36px 0 56px 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-roots__main_show-borders {
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.page-roots__main_grey-background {
    background: var(--grey-6);
}

.page-roots__footer {
    padding: 18px 0 18px 0;   /* 72px in Figma but it is too large and immediately force scrollbar in Main to be visible */

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-roots__footer_white-background {
    background: var(--white);
}

.page-roots__footer_grey-background {
    background: var(--grey-6);
}
