.histogram {
    padding: 16px 24px 24px;

    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;

    background: var(--white);

    --spaceBetweenHeaderAndChart: 39px; /* From Figma */

    /* children layout options */
    display: flex;
    flex-direction: column;
}

.histogram__header {
    /* children layout options */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: var(--spaceBetweenHeaderAndChart);
}

.histogram__headerCaption {
    /* children layout options */
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.histogram__headerCaptionText {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: var(--black);

    opacity: 0.8;
}

.histogram__headerCaptionTotal {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: var(--black);
}

.histogram__headerViewAllButton {
    /*
        this element seems to be a separate component '.button'
        And, I used <button> in markup
    */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    /* OR all: unset; */

    height: fit-content;
    /* height: auto; - with this style, the <button> element will have large height with v-centered text*/

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: var(--blue);
}

.histogram__values {
    flex-grow: 1;

    /* children layout options */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* OR: align-items: stretch; + margin-top: calc(var(--value) * 100%); */
    justify-content: space-between;
    column-gap: 1px;
}

.histogram__value {
    background: #4263EB;
    width: 100%;
    height: calc(var(--value) * 100%);
}
