/*
    Example:

    <div class="page-template">
        <header class="page-template__header">
            My Header
        </header>
        <div class="page-template__main">
            My Main Content
        </div>
        <footer class="page-template__footer">
            My Footer
        </footer>
    </div>
*/

.page-template {
    background: var(--grey-5);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-template__header {
    min-height: 82px;
    background: var(--white);
}

.page-template__main {
    flex-grow: 1;
    min-width: min-content; /* It shows HScroll on narrow screen */
    
    padding: 36px 0 56px 0;

    /* align children */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-template__footer {
    background: var(--grey-5);

    display: flex;
    align-items: center;
    justify-content: center;
}
