/*
    Example:

    <div class="page-template">
        <header class="page-template__header">
            <div class="page-template__header-content align-page-roots">
                My Header
            </div>
        </header>
        <div class="page-template__main align-page-roots">
            My Main Content
        </div>
        <footer class="page-template__footer align-page-roots">
            My Footer
        </footer>
    </div>
*/

.page-template {
    background: var(--grey-6);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-template__header {
    min-height: 82px;
    background: var(--white);
}

.page-template__main {
    flex-grow: 1;
    
    padding: 36px 0 56px 0;

    /* align children */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-template__footer {
    background: var(--grey-6);

    display: flex;
    align-items: center;
    justify-content: center;
}
