.skeleton {
    width: 579px;
    height: 192px;

    background: var(--white);

    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}


/* ======================================================================= */
/*                                                                         */
/* https://dev.to/michaelburrows/css-skeleton-loading-screen-animation-gj3 */
/*                                                                         */
/* ======================================================================= */
    
.skeletonCSS {
    width: 579px;
    height: 192px; 

    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;

    cursor: progress; 

    background: 
        radial-gradient(64px circle at 32px 32px, var(--grey-2) 50%, transparent 51%),
        linear-gradient(var(--grey-2), var(--grey-2)),
        linear-gradient(var(--grey-2), var(--grey-2)),
        linear-gradient(var(--grey-2), var(--grey-2)),
        linear-gradient(var(--grey-2), var(--grey-2));
    background-size:
        64px 64px,
        172px 20px,
        172px 20px,
        515px 20px,
        515px 20px;
    background-position:
        24px 24px,
        104px 32px,
        104px 60px,
        24px 112px,
        24px 140px;
    background-repeat: no-repeat;
}