/*

    Example:

        <div class="tooltip">
            <div class="tooltip__bubble">
                <p class="tooltip__bubble-text"> MY TEXT</p>
            </div>
            <svg class="tooltip__icon" width="24" height="24"...
            </svg>
        </div>

    Specificities:
        - large tooltip (for example 'Lorem ipsum...') is not handled, browser will NOT scroll to show it
        - tooltip will be immediatelly hidden when scrolling (because icon will be moved under the mouse pointer when scrolling)
        - tooltip will not be shown on touch devices
        - tooltip is not processed by screen readers when "display: none;" is used
        - tooltip will not be printed
*/

.tooltip {
    /* Allow to use 'position: absolute' in children and set position from the [left,top] of '.tooltip' */
    position: relative;
}

.tooltip__icon {
    width: 24px;
    height: 24px;
    
    cursor: pointer;
    display: inline-block;
}

.tooltip__bubble {
    --beakHeight: 6px;
    --spaceBeakToIcon: 3px;

    /* By default element is hidden, will be shown in ".tooltip:hover > .tooltip__bubble" */
    display: none;

    /* Locate element above the icon and center it horizontally (can be implemented via 'flex-direction: column' on parent) */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    padding: 13px 21px 8px;

    /* Handle wrapping: */
    white-space: nowrap;
    /* min-width: 100px; - another way to avoid 'single word' wrapping */

    /* Space between bubble and its icon */
    margin-bottom: calc(var(--beakHeight) + var(--spaceBeakToIcon));

    /* p */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* Gray 2 */
    color: var(--grey-2);
    background: var(--blue-1);

    /* Card Shadow */
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
}

.tooltip__bubble-text {
    margin-top: 0;
    margin-bottom: 0;
}

/* Use '.tooltip': I want to select&copy text from tooltip by mouse */
.tooltip:hover > .tooltip__bubble {
    /*
        10 Ways to Hide Elements in CSS - https://www.sitepoint.com/hide-elements-in-css/
        https://htmlacademy.ru/blog/boost/frontend/short-12
    */

    /* 1. Remove from DOM, create new DOM element to show */
    display: inline; /* can be slow, but my markup is very simple */

    /* 2. Keep in DOM, squeeze painting area */
    /* clip-path */
    
    /* 3. Keep in DOM, squeeze painting area */
    /* width: 0->unset;
    height: 0->unset;
    overflow: 0->unset;
    padding: 0->13px 21px 8px;*/

    /* 4. Keep in DOM, move out of the visible area */
    /* transform: translate(-9999)->unset;*/
}

/* Add new last child into <tooltip-bubble> element */
.tooltip__bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: var(--beakHeight) solid transparent;
    border-top: var(--beakHeight) solid var(--blue-1);
}
