.footer {
    /* TODO: I used 72 and 136 to implement top/bottom spacings for now. Can be changed later. */
    padding-top: 72px;
    padding-top: 136px;
}

.footer__about {
    /* TODO: Ask designer - It seems to be aligned to center, but there are 682px/674px in figma. */
    text-align: center;

    /* h2 - From Figma so I used it in markup */
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;

    color: var(--black);

    /*
        Override <h2> margin: '<h2>' declares what is its content.
        There can be other tag so I should not build my layout on the '<h2>' default layouting properties.
    */
    margin: 0;
}

.footer__about-content {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* TODO: Ask designer - Text looks like it is centered */
    text-align: center;

    color: var(--black);

    width: 640px;
    margin: 0 auto;
}