.footer {
    /* TODO: I used 72 and 136 to implement top/bottom spacings for now. Can be changed later. */
    padding-top: 72px;
    padding-top: 136px;
    padding-bottom: 136px;
}

.footer__about {
    /* TODO: Ask designer - It seems to be aligned to center, but there are 682px/674px in figma. */
    text-align: center;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;

    color: var(--black);

    /* h2 - From Figma so I used it in markup and will override its margins. */
    margin: 0;
}

.footer__about-content {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* TODO: Ask designer - Text looks like it is centered but it is not specified in figma */
    text-align: center;

    color: var(--black);

    width: 640px;
    margin: 32px auto 0 auto;
}