.page {
    /* минимальные отступы от границ UA, будет использовано в дочерних компонентах */
    --leftRightPagePadding: 0 16px 0 16px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    /* https://habr.com/ru/post/500580/ */
}
