.page-roots-navigation {
    /* align children */
    display: flex;
    flex-direction: column;
}

.page-roots-navigation__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: var(--black-1);

    /* additional space between the caption and items */
    margin-bottom: 16px;
}

.page-roots-navigation__item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: var(--black);
}

.page-roots-navigation__item_selected {
    color: var(--red-1);
}

.page-roots-navigation__item_mainPage {
    /* additional space between items and the MainPage link */
    margin-top: 30px;
}
