/*
    Example:

    <div class="pageTemplateNavigationItemContent">
        <article>
            <header>
                <h3 class="pageTemplateNavigationItemContent__header">Histogram</h3>
            </header>
            <main class="pageTemplateNavigationItemContent__main">
                My content
            </main>
        </article>
    </div>
*/

.pageTemplateNavigationItemContent {
    height: 100%;
}

.pageTemplateNavigationItemContent__header {
    margin-bottom: 0 0 24px 0;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;

    color: var(--grey-4);
}

.pageTemplateNavigationItemContent__main {
}