.page-roots-navigation-item-content {
}

.page-roots-navigation-item-content__header {
    margin-bottom: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;

    color: var(--grey-4);
}

.page-roots-navigation-item-content__main {
}